/****** Object:  Table [dbo].[Countries]    Script Date: 11-10-2021 04:51:26 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Countries](
--	[Name] [varchar](100) NOT NULL,
--	[NumericCode] [char](3) NULL,
--	[Code] [char](2) NULL
--) ON [PRIMARY]
--GO
--https://github.com/vaishnavkishan/countries-states-cities-database
INSERT [dbo].[Countries] ([Name], [NumericCode], [Code]) VALUES (N'Select', N'000', N'--')
INSERT [dbo].[Countries] ([Name], [NumericCode], [Code]) VALUES (N'Afghanistan', N'004', N'AF')
INSERT [dbo].[Countries] ([Name], [NumericCode], [Code]) VALUES (N'Aland Islands', N'248', N'AX')
GO
