/****** Object:  Table [dbo].[States]    Script Date: 11-10-2021 04:07:49 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[States](
--	[Id] [int] NOT NULL IDENTITY(1,1),
--	[Name] [varchar](255) NOT NULL,
--	[CountryCode] [char](2) NOT NULL,
--PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
INSERT [dbo].[States] ([Name], [CountryCode]) VALUES (N'Southern Nations, Nationalities, and Peoples''Region', N'ET')
GO
INSERT [dbo].[States] ([Name], [CountryCode]) VALUES (N'Somali Region', N'ET')
GO
INSERT [dbo].[States] ([Name], [CountryCode]) VALUES (N'Amhara Region', N'ET')
GO

