/****** Object:  Table [dbo].[States]    Script Date: 11-10-2021 04:07:49 PM ******/
--SET ANSI_NULLS ON
--
--SET QUOTED_IDENTIFIER ON
--
--CREATE TABLE [dbo].[States](
--	[Id] [int] NOT NULL IDENTITY(1,1),
--	[Name] [varchar](255) NOT NULL,
--	[CountryCode] [char](2) NOT NULL,
--PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--
--https://github.com/vaishnavkishan/countries-states-cities-database

INSERT [dbo].[States] ([Id], [Name], [CountryCode]) VALUES (1, N'Southern Nations, Nationalities, and Peoples'' Region', N'ET')
INSERT [dbo].[States] ([Id], [Name], [CountryCode]) VALUES (2, N'Somali Region', N'ET')
INSERT [dbo].[States] ([Id], [Name], [CountryCode]) VALUES (3, N'Amhara Region', N'ET')
